.container {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  max-width: 1315px;
  margin: 90px auto;
  padding: 35px 55px 60px;
  background-color: #303030;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  @media (max-width: 1250px) {
    padding: 35px 45px 40px;
  }
  @media (max-width: 500px) {
    padding: 35px 35px 40px;
    margin: 30px 15px;
  }
}

.title {
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  span {
    color: #2b8580;
  }
}

.button {
  display: block;
  margin: 0 auto;

  padding: 20px;
  background-color: inherit;
  position: relative;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='243' height='74' viewBox='0 0 243 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 24.0027V13.0027V2.00269H24' stroke='%23A5DEDB' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M241 24.0027V13.0027V2.00269H219' stroke='%23A5DEDB' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M2 50.0027V61.0027V72.0027H24' stroke='%23A5DEDB' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M241 50.0027V61.0027V72.0027H219' stroke='%23A5DEDB' stroke-width='3' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 7px 9px;
  cursor: pointer;

  span {
    z-index: 2;
    display: block;
    width: 219px;
    height: 50px;
    padding: 17px 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #a5dedb;
    text-transform: uppercase;
    background: #3b3b3b;
  }
}

.filters {
  display: flex;
  gap: 64px;
  margin-bottom: 40px;

  @media (max-width: 1200px) {
    gap: 30px;
  }

  @media (max-width: 769px) {
    display: block;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;

  @media (max-width: 769px) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.reset {
  display: block;
  margin: 0;
  padding: 58px 10px 0;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: inherit;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg width='54' height='52' viewBox='0 0 54 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49.9665 28L38.8936 28C38.4002 28 38.0001 28.3866 38.0001 28.86L38 38.14C38 38.6135 38.4001 39 38.8935 39L49.9664 39C52.1913 39 54 37.2583 54 35.1178L54 31.8825C54.0002 29.7419 52.1915 28 49.9665 28ZM49.9665 37.2802L40.9791 37.2802C40.3212 37.2802 39.7875 36.7664 39.7875 36.1335L39.7875 30.8665C39.7875 30.2334 40.3213 29.7198 40.9792 29.7198L49.9665 29.7198C51.2057 29.7198 52.2129 30.6901 52.2129 31.8824L52.2129 35.1176C52.2129 36.31 51.2058 37.2802 49.9665 37.2802Z' fill='%23ABABAB'/%3E%3Cpath d='M19.0014 38.1399C19.0014 38.6135 19.4018 39 19.8951 39L34.1063 39C34.5996 39 35 38.6135 35 38.1399L35.0001 28.8601C35.0001 28.3865 34.5995 28 34.1063 28L19.8938 28C19.4005 28 19.0001 28.3866 19.0001 28.8601L19 38.1399L19.0014 38.1399ZM21.9797 29.7195L32.0224 29.7195C32.6802 29.7195 33.214 30.2333 33.214 30.8662L33.2139 36.1335C33.2139 36.7666 32.68 37.2802 32.0223 37.2802L21.9796 37.2802C21.3218 37.2802 20.7888 36.7664 20.7888 36.1335L20.7888 30.8664C20.789 30.2333 21.3218 29.7195 21.9797 29.7195Z' fill='%23ABABAB'/%3E%3Cpath d='M15.1062 28L4.03351 28C1.80998 28 5.00022e-05 29.7417 3.84414e-05 31.8823L2.09675e-05 35.1177C9.40676e-06 37.2583 1.80992 39 4.03345 39L15.1061 39C15.5995 39 16 38.6135 16 38.1399L16.0001 28.8601C16.0001 28.3866 15.5988 28 15.1062 28ZM13.0212 37.2803L4.03346 37.2803C2.79567 37.2803 1.78686 36.3101 1.78686 35.1177L1.78688 31.8824C1.78689 30.69 2.79571 29.7198 4.0335 29.7198L13.0213 29.7198C13.6785 29.7198 14.2123 30.2336 14.2123 30.8665L14.2123 36.1336C14.2123 36.7667 13.6784 37.2803 13.0212 37.2803Z' fill='%23ABABAB'/%3E%3Cpath d='M54.0003 17.8811C54.0003 15.7421 52.1901 14 49.9667 14L38.8938 14C38.4004 14 38.0003 14.3869 38.0003 14.86L38.0002 24.14C38.0002 24.6135 38.4004 25 38.8937 25L49.9665 25C52.1914 25 54.0001 23.2583 54.0001 21.1189L54.0001 17.8811L54.0003 17.8811ZM49.9665 23.28L40.9792 23.28C40.3213 23.28 39.7876 22.7662 39.7876 22.1336L39.7876 16.8667C39.7876 16.2336 40.3214 15.72 40.9793 15.72L49.9666 15.72C51.2058 15.72 52.213 16.6899 52.213 17.8813L52.213 21.119C52.213 22.3101 51.2059 23.28 49.9665 23.28Z' fill='%23ABABAB'/%3E%3Cpath d='M19.0014 24.14C19.0014 24.6135 19.4018 25 19.8951 25L34.1063 25C34.5996 25 35 24.6135 35 24.14L35.0001 14.86C35.0001 14.3869 34.5995 14 34.1063 14L19.8938 14C19.4005 14 19.0001 14.3869 19.0001 14.86L19 24.14L19.0014 24.14ZM21.9797 15.7199L32.0224 15.7199C32.6802 15.7199 33.214 16.2335 33.214 16.8665L33.2139 22.1335C33.2139 22.7661 32.68 23.2798 32.0223 23.2798L21.9796 23.2798C21.3218 23.2798 20.7888 22.7661 20.7888 22.1335L20.7888 16.8665C20.789 16.2335 21.3218 15.7199 21.9797 15.7199Z' fill='%23ABABAB'/%3E%3Cpath d='M16.0001 14.86C16.0001 14.3869 15.5996 14 15.1062 14L4.03351 14C1.80998 14 5.00079e-05 15.7406 3.84477e-05 17.8811L2.09611e-05 21.1189C9.40637e-06 23.2583 1.80992 25 4.03345 25L15.1061 25C15.5995 25 16 24.6135 16 24.14L16.0001 14.86ZM13.0212 23.2801L4.03346 23.2801C2.79567 23.2801 1.78686 22.3102 1.78686 21.1189L1.78688 17.8811C1.78689 16.6898 2.79571 15.7199 4.0335 15.7199L13.0213 15.7199C13.6785 15.7199 14.2123 16.2335 14.2123 16.8665L14.2123 22.1335C14.2123 22.7664 13.6784 23.2801 13.0212 23.2801Z' fill='%23ABABAB'/%3E%3Cpath d='M54.0003 3.88223C54.0003 1.74214 52.1901 7.8618e-07 49.9667 5.80461e-07L38.8938 -4.44087e-07C38.4004 -4.89736e-07 38.0003 0.386916 38.0003 0.86004L38.0002 10.1398C38.0002 10.6138 38.4004 11 38.8937 11L49.9665 11C52.1914 11 54.0001 9.25844 54.0001 7.11762L54.0001 3.88223L54.0003 3.88223ZM49.9665 9.27992L40.9792 9.27991C40.3213 9.27991 39.7876 8.76702 39.7876 8.13397L39.7876 2.8669C39.7876 2.23384 40.3214 1.72023 40.9793 1.72023L49.9666 1.72023C51.2058 1.72023 52.213 2.69013 52.213 3.88238L52.213 7.11777C52.213 8.31001 51.2059 9.27992 49.9665 9.27992Z' fill='%23ABABAB'/%3E%3Cpath d='M19.0014 10.1398C19.0014 10.6138 19.4018 11 19.8951 11L34.1063 11C34.5996 11 35 10.6138 35 10.1398L35.0001 0.860042C35.0001 0.386917 34.5995 9.16612e-07 34.1063 8.70981e-07L19.8938 -4.44066e-07C19.4005 -4.89711e-07 19.0001 0.386916 19.0001 0.86004L19 10.1398L19.0014 10.1398ZM21.9797 1.72008L32.0224 1.72008C32.6802 1.72008 33.214 2.2337 33.214 2.86676L33.2139 8.13382C33.2139 8.76688 32.68 9.27977 32.0223 9.27977L21.9796 9.27977C21.3218 9.27977 20.7888 8.76688 20.7888 8.13382L20.7888 2.86676C20.789 2.2337 21.3218 1.72008 21.9797 1.72008Z' fill='%23ABABAB'/%3E%3Cpath d='M16.0001 0.860042C16.0001 0.386917 15.5996 9.16619e-07 15.1062 8.70967e-07L4.03351 -1.53556e-07C1.80998 -3.59293e-07 5.00001e-05 1.74214 3.84419e-05 3.88223L2.09681e-05 7.11762C9.40589e-06 9.25844 1.80992 11 4.03345 11L15.1061 11C15.5995 11 16 10.6138 16 10.1398L16.0001 0.860042ZM13.0212 9.27992L4.03346 9.27992C2.79567 9.27991 1.78686 8.31001 1.78686 7.11777L1.78688 3.88238C1.78689 2.68999 2.79571 1.72023 4.0335 1.72023L13.0213 1.72023C13.6785 1.72023 14.2123 2.23384 14.2123 2.8669L14.2123 8.13397C14.2123 8.76688 13.6784 9.27992 13.0212 9.27992Z' fill='%23ABABAB'/%3E%3Cpath d='M19.5982 46.5657L26.7058 51.8267C27.0191 52.0577 27.4705 52.0577 27.7854 51.8268L34.8916 46.5657C35.1977 46.3394 35.3206 45.9478 35.1977 45.5946C35.0762 45.2381 34.7355 45 34.3506 45L20.1375 45C19.7522 45 19.413 45.2382 19.2912 45.5936C19.1694 45.9466 19.2926 46.3382 19.5982 46.5657ZM30.7487 47.4451L28.194 49.336C27.6698 49.7239 26.8205 49.7239 26.2959 49.336L23.7416 47.4451C23.2169 47.0572 23.3258 46.7421 23.9843 46.7421L30.5054 46.7421C31.1645 46.7421 31.2729 47.0572 30.7487 47.4451Z' fill='%23A5DEDB'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 11px 0;
  cursor: pointer;

  @media (max-width: 769px) {
    margin-left: auto;
    background-position: 21px 0;
  }
}

.listNews {
  @media (max-width: 700px) {
    display: grid;
    justify-content: center;
    gap: 40px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 32px;
  }

  @media (min-width: 701px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 32px;
  }

  @media (min-width: 1000px) {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat((3, 1fr));
    margin-bottom: 32px;
  }

  @media (min-width: 1400px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 69px;
    margin-bottom: 32px;
  }
}
